
@media (max-width:767px)
{
    .navbar-nav>li
    {
        padding-left: 0px;
    }
    .header{
        margin-top: -124px
    }
     .carousel-inner>.item>a>img,
    .carousel-inner>.item>img, 
    .img-responsive, .thumbnail a>img, .thumbnail>img{
        height: 370px;
    }
     .dept-div img{
        width: 80px;
    }
    .footer .icons{
        width: 40px;
        margin-bottom: 30px;
    }


    .adverts h1,.depertment h1{
        font-size: 20px;
    }
    .adverts h2{
        font-size: 18px;
    }
    
    
}

@media (min-width: 768px)
{
    .adverts h1,.depertment h1{
        font-size: 27px;
    }
    .navbar-nav>li
    {
       float: left;
       font-size: 11px;
       padding-left: 0px;    
     }
    .adverts h2{
        font-size: 20px;
    }
    .navbar-nav{
        margin: auto;
    }
     .header{
        margin-top: -140px
    }
    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img, 
    .img-responsive, .thumbnail a>img, .thumbnail>img{
        height: 400px
    }
    .drop-nav button#dropdownMenu1{
        font-size: 11px;
        padding-top: 17px;
    }.div-h .d
    {
        width: 200px;
    }
    .footer .icons{
        margin-bottom: 30px;
    }
}
@media (min-width:991px)
{
    .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled
    {
        display: block!important;
    }
    .navbar-nav>li
    {
       float: left;
       font-size: 12px;
       padding-left: 16px;    
     }
    .navbar-nav{
        margin: auto;
    } .carousel-inner>.item>a>img,
    .carousel-inner>.item>img, 
    .img-responsive, .thumbnail a>img, .thumbnail>img{
        height: 560px;
    }
     .header{
        margin-top:20px
    }
    .div-h .d
    {
        width: 195px;
    }
    .text-footer{
        margin-bottom: 20px;
    }
    .adverts h2{
        font-size: 19px;
    }
    
}
@media (min-width:1200px)
{ 
     .navbar-nav>li
    {
       float: left;
       font-size: 13px;
        padding-left: 16px;
        padding-right: 20px;   
     }
    .navbar-nav{
        margin: auto;
    }
     .carousel-inner>.item>a>img,
    .carousel-inner>.item>img, 
    .img-responsive, .thumbnail a>img, .thumbnail>img{
        height: 560px;
    }
     .header{
        margin-top: 20px
    }
    .drop-nav button#dropdownMenu1{
        font-size: 12px;
        padding-top: 15px;}
    .text-footer{
        margin-bottom: 20px
    }
    .adverts h2{
        font-size: 19px;
    }
    
}